* {
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Shippori Antique B1', 'Rubik', sans-serif;
    padding: 0;
    background-color: rgba(165, 197, 247, 0.411);
color: rgb(7, 7, 102);
}
/* HEADER - BARRA DE NAVEGACION */
.header {
    background-color: #fff;
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0.9;
    z-index: 1;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin: 0 auto;
}
.nav-menu-link {
    color: gray;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 3px;
    transition: 0.5s;
}
.nav-menu-link:hover,
.nav-menu-link-active {
    background-color: blue;
    color: #fff;
    box-shadow: 3px 3px 8px #fff;
}
.nav-logo {
    font-size: 30px;
    font-weight: bolder;
    padding: 0 40px;
    line-height: 80px;
    text-decoration: none;
}
.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style-type: none;
}
.nav-menu-item {
    font-size: 16px;
    margin: 0 10px;
    line-height: 80px;
}



/* SECCION 1*/
.section1 {
    background-color: #fff;
    width: 992px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.bg-sec1 {
    position: absolute;
    width: 496px;
}
.div-secc1-left {
    top: auto;
    left: 0;
}

.div-secc1-left h1 {
    font-size: 44px;
    font-weight: 900;
    position: relative;
    margin-top: 170px;
    margin-left: 90px;
}
.div-secc1-left p {
    position: relative;
    width: 300px;
    font-size: 16px;
    margin-top: 20px;
    margin-left: 90px;
}
.icons-sec1 {
    position: absolute;
    margin-top: 395px;
    margin-left: 90px;
    display: flex;
    height: 20px;
    justify-content: center;
}
.icons-sec1 p {
    font-size: 10px;
    position: relative;
    line-height: 10px;
    margin-top: 12px;
    font-weight: bold;
    margin-left: 8px;
}
.icon-star {
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: center;
    width: 20px;
    height: 20px;
    color: gold;
    margin: 5px;
    padding-top: 3px;
    box-shadow: 3px 3px 4px rgba(128, 128, 128, 0.336);
    background: rgba(240, 236, 180, 0.678);
    border-radius: 2px;
}
.icon-sec1-2 {
    position: absolute;
    margin-top: 500px;
    margin-left: 90px;
    display: flex;
    height: 20px;
    justify-content: center;
}
.icon-sec1-2 p {
    font-size: 15px;
    margin-top: 8px;
    margin-left: 5px;
}
.icon-clock {
    justify-content: center;
    align-items: center;
    font-size: 14px;
    text-align: center;
    width: 23px;
    height: 23px;
    color: blue;
    margin: 5px;
    padding-top: 4px;
    box-shadow: 3px 3px 4px rgba(128, 128, 128, 0.336);
    background: rgba(180, 186, 240, 0.534);
    border-radius: 2px;
}
.icon-input {
    justify-content: center;
    align-items: center;
    font-size: 12px;
    text-align: center;
    width: 20px;
    height: 20px;
    color: blue;
    margin: 2px;
    padding-top: 5px;
    box-shadow: 3px 3px 4px rgba(128, 128, 128, 0.336);
    background: rgba(180, 186, 240, 0.534);
    border-radius: 2px;
}
.div-secc1-right {
    right: 0;
}
.nurse-vaccine {
    width: 496px;
    height: auto;
}
.div-input {
    position: absolute;
    display: flex;
    background-color: #fff;
    top: 540px;
    left: 90px;
    flex-wrap: wrap;
    width: 650px;
    height: 80px;
    border-radius: 5px;
    border: rgba(128, 128, 128, 0.349) 1px solid;
    box-shadow: 3px 3px 8px rgb(191, 197, 212);
}
.div-input-location {
    margin-top: 10px;
    margin-left: 10px;
    width: 100px;
    position: relative;
    display: block;
}
.input-location {
    font-size: 15px;
    margin-left: 30px;
    width: 120px;
    height: 25px;
    border: 0;
    color: rgba(0, 0, 139, 0.788);
    font-weight: bold;
}
.div-input-date {
    margin-top: 12px;
    margin-left:60px;
    width: 150px;
    position: relative;
    display: block;
}
.input-date {
    font-size: 12px;
    margin-left: 30px;
    width: 120px;
    height: 25px;
    border: 0;
    color: rgba(0, 0, 139, 0.74);
    font-weight: bold;
}

.div-input-vaccine-type {
    margin-top: 12px;
    margin-left: 10px;
    width: 150px;
    position: relative;
    display: block;
}
.input-vaccine-type {
    font-size: 15px;
    margin-left: 25px;
    width: 120px;
    height: 25px;
    border: 0;
    color: rgba(0, 0, 139, 0.781);
    font-weight: bold;
}
.div-input-submit {
    width: 160px;
    position: relative;
    display: block;
    height: 50px;
}
.submit {
    position: relative;
    width: 100px;
    line-height: 40px;
    margin-left: 37px;
    margin-top: 18px;
    background: blue;
    color: #fff;
    border-radius: 5px;
    border: 0;
    font-size: 16px;
    padding: 0;
}
.submit:hover {
    position: relative;
    width: 100px;
    line-height: 40px;
    margin-left: 37px;
    margin-top: 18px;
    color: #fff;
    background: darkblue;
    font-size: 16px;    
    border-radius: 5px;
    border: 0;
}
/* SECCION 2 */
.section2 {
    background-color: #fff;
    width: 992px;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
}
.bg-sec2 {
    position: absolute;
    width: 992px;
}
.div-logos-vaccines-top {
    width: 992px;
    display: flex;
    justify-content: center;
    color: gray;
}
.logos-vaccine {
    position: relative;
    margin-right: 20px;    
    margin-left: 20px;
    width: 170px;
}

#logos-vaccine-astrazeneca {
    height: 75px;
    top: 15px;
}
#logos-vaccine-sinovac {
    height: 20px;
    top: 45px;
}
#logos-vaccine-pfizer {
    height: 50px;
    top: 30px;
}
#logos-vaccine-moderna {
    height: 40px;
    top: 35px;
}
.div-sec2-middle {    
    width: 902px;
    position: absolute;
    margin-top: 220px;
    margin-left: 90px;
    display: block;
}
.div-sec2-middle h3 {
    position: absolute;
    width: 902px;    
    margin-left: 90px;
    font-size: 28px;
}
.div-sec2-middle p {
    position: absolute;
    width: 450px;
    top: 40px;
}
.div-sec2-bottom {
    width: 800px;
    max-width: 992px;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 90px;
    margin-top: 370px;
    border-radius: 10px;
}
.benefits-vaccines-col {
    width: 175px;
    height: 230px;
    border: 1px solid rgba(128, 128, 128, 0.151);
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0, 0, 255, 0.26);
    overflow: hidden;
    margin: 10px;
    text-align: center;
    transition: all 0.25s;
}
.benefits-vaccines-col i {
    margin-top: 15px;
    border: 1px solid rgba(0, 0, 255, 0.062);
    border-radius: 8px;
    color: blue;
    background: rgba(15, 15, 160, 0.082);
    font-size: 20px;
    padding: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 139, 0.212);
}
.benefits-vaccines-col h3 {
    font-size: 20px;
    margin-top: 15px;
}
.benefits-vaccines-col p {
    font-size: 11px;
    margin-top: 10px;
    padding: 0 10px;
}
.div-sec2-bottom, .benefits-vaccines-col:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 139, 0.178);
}

/* SECCTION 3 - PREPARATION BEFORE VACCINE */
.section3 {    
    position: absolute;
    background-color: #fff;
    width: 992px;
    max-width: 992px;
    margin: 658px auto;
    display: flex;
    justify-content: center;
}
.bg-sec3 {
    display: block;
    position: absolute;
    width: 992px;
    max-width: 992px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}
.div-secc3-left {
    position: relative;
    top: auto;
    left: 0;
}
.girl {
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    position: relative;
    width: 496px;
    top: 125px;
}
.before-vaccine {
    display: block;
    width: 496px;
    justify-content: center;
}
.before-vaccine h3 {
    font-size: 28px;
    position: absolute;
    left: 540px;
    top: 78px;
    width: 450px;
}
.before-vaccine p {
    position: absolute;
    left: 540px;
    top: 120px;
    width: 380px;
    font-size: 13px;
}
.div-sec3-right {
    font-size: 12px;
    top: 235px;
    left: 500px;
    position: absolute;
    width: 400px;
    flex-wrap: wrap;
    display: block;
}
.div-sec3-right {
    width: 400px;
}
.nav-container-acordion {
    width: 100%;
}
.ul-acordion {
    width: 400px;
}
.li-acordion {
    width: 100%;
    height: 45px;
    list-style-type: none;
    border-bottom: #ffff 3px solid;
    transition: .7s;
    overflow: hidden;
}
.acordion {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background-color: rgba(234, 234, 241, 0.363);
    color: blue;
    cursor: pointer;
    color: darkblue;
    line-height: 45px;
    border-radius: 7px;
}
.acordion-i {
    margin-right: 0;
    margin-top: -4px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(131, 131, 163, 0.068);
    border: 1px solid rgba(0, 0, 139, 0.068);
}
.link-acordion {
    text-align: left;
    margin-top: -17px;
    margin-left: 15px;
    margin-right: auto;
    text-decoration: none;
    color: darkblue;
}
.fa-caret-down {
    font-size: 20px;
    transition: .3s;
    padding: 2px;
    padding-top: 0;
    margin: 0;
    width: 20px;
    height: 20px;
}
.li-acordion p {
    padding: 10px;
    color: blue;
}
.scale {
    height: 150px;
}
.rotate {
    transform: rotate(180deg);
}
/* SECTION 4 - Emergency contact*/
.section4 {    
    position: absolute;
    background-color: #fff;
    width: 992px;
    max-width: 992px;
    margin: 1308px auto;
    display: flex;
    justify-content: center;
}
.bg-sec4 {
    display: block;
    position: absolute;
    width: 992px;
    max-width: 992px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
}
.nurse-male {
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    position: relative;
    width: 430px;
    top: 240px;
    margin-left: 65px;
    margin-right: 0;
}
.div-emergency-contact {
    width: 496px;  
    position: relative;
    top: 120px;
    left: 90px;
}

.div-emergency-contact h3 {
    font-size: 30px;    
    position: relative;
}
.div-emergency-contact p {
    font-size: 13px;
    margin-top: 10px;
    width: 400px;
}
.card-contact {
    left: 90px;
    width: 400px;
    position: absolute;
    top: 380px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.card-contact div {
    position: relative;
    width: 180px;
    height: 150px;
    flex-wrap: wrap;
    display: flex;
    margin: 5px;
    padding: 20px 0;
    border: 1px solid rgba(0, 0, 139, 0.144);
    text-align: center;
    border-radius: 10px;    
    box-shadow: 2px 2px 7px rgba(0, 0, 139, 0.267);
}
.card-contact-call, .card-contact-chat, .card-contact-videocall, .card-contact-message {
    margin-right: 10px;
}
.card-contact-call i, .card-contact-chat i, .card-contact-videocall i, .card-contact-message i {
    position: absolute;
    font-size: 20px;
    border: 1px solid rgba(0, 0, 139, 0.171);
    padding: 4%;
    height: 25%;
    margin-left: 10%;
    border-radius: 10%;
    background: rgba(0, 0, 255, 0.041);
    box-shadow: 2px 2px 4px rgba(0, 0, 139, 0.363);
}
.card-contact-call h3, .card-contact-chat h3, .card-contact-videocall h3, .card-contact-message h3 {
    position: absolute;
    font-size: 20px;
    padding: 10px;
    padding-top: 0;
    margin-left: 55px;
    margin-right: 0px;
    margin-top: 0px;
}
.card-contact-call p, .card-contact-chat p, .card-contact-videocall p, .card-contact-message p {
    position: absolute;
    font-size: 10px;
    margin-left: 65px;
    margin-top: 30px;
    padding: 0;
}
.card-contact-call button, .card-contact-chat button, .card-contact-videocall button, .card-contact-message button {
    display: block;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
    width: 80%;
    height: 30px;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0, 0, 255, 0.041);
    border: 1px solid rgba(0, 0, 139, 0.171);
    border-radius: 5%;
    color: darkblue;
    font-weight: bolder;
}
.card-contact-call button:hover {
    background: darkblue;
    color: #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 139, 0.363);
    transition: .2s;
}
.card-contact-chat button:hover {
    background: darkblue;
    color: #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 139, 0.363);
    transition: .2s;
}
.card-contact-videocall button:hover {
    background: darkblue;
    color: #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 139, 0.363);
    transition: .2s;
}
.card-contact-message button:hover {
    background: darkblue;
    color: #fff;
    box-shadow: 2px 2px 6px rgba(0, 0, 139, 0.363);
    transition: .2s;
}
.card-contact div:hover {
    transform: translateY(-10px);
    transition: all .3s;
    box-shadow: 4px 4px 9px rgba(0, 0, 139, 0.363);
}
.footer {
    position: relative;
    height: 150px;
    width: 100%;
    left: 0;
    opacity: 0.9;
    top: 2010px;
    bottom: 0;
    z-index: 1;
    justify-content: center;
}
.footer-section-up {
    height: 150px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    padding-right: 60px;
    width: 992px;
    max-width: 992px;
    flex-wrap: wrap;
    display: flex;
}
.footer-section-down {
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    width: 992px;
    max-width: 992px;
    flex-wrap: wrap;
    display: block;
    display: flex;
    height: 50px;
    bottom: 0;
    padding-left: 90px;
}
.bg-footer {
    width: 992px;
    position: absolute;
    z-index: -1;
}
.footer-logo {
    margin-top: 35px;
    margin-left: 90px;
    width: 380px;
}
.footer-logo p {
    margin-top: 5px;
    font-size: 12px;
    width: 150px;
    color: rgb(41, 40, 40);
}
.about, .company, .support {
    margin-top: 25px;
}
.li-about, .li-company, .li-support {
    color: rgb(41, 40, 40);
    font-size: 12px;
    list-style-type: none;
    padding: 7px;
}
.title {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0;
}
.copyright-vaccine p{
    margin-top: 60px;
    width: 250px;
    font-size: 12px;
    color: rgb(41, 40, 40);
}
.tyc {
    margin-top: 60px;
    width: 400px;
    flex-wrap: wrap;
    display: inline-block;
}
.tyc p {
    flex-wrap: wrap;
    display: inline-block;
    margin-left: 20px;
    font-size: 12px;
    color: rgb(41, 40, 40);
}
.term {
    padding-left: 30px;
}
.link-a {
    text-decoration: none;
    color: rgb(41, 40, 40);
}